$white: #ffffff;
$black: #000000;

$beige: #E6E3DD;
$beigelt: #F4F3F1;
$grey: #565a5c;
$greydk: #4d5d5b;
$greylt: #cccccc;

$teal: #607c7a;

$peach: #f18e7b;

$header: 'Roboto Condensed', sans-serif;
$sans: 'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700);