$white: #ffffff;
$black: #000000;

$beige: #E6E3DD;
$grey: #565a5c;
$greydk: #4d5d5b;
$greylt: #cccccc;

$teal: #607c7a;

$peach: #f18e7b;

$serif: 'Merriweather', serif;

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300,700,700italic);