.navbar-default {
  background-color: #C13561;
  background-image: -webkit-linear-gradient(-360deg, #813561 40%, #B83264 60%, #D83B5A 80%, #E44E38 100%);
  background-image: linear-gradient(90deg, #813561 40%, #B83264 60%, #D83B5A 80%, #E44E38 100%);
  color: #fff;
}

.navbar-default a, 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

body {
  background-color: #E6E3DD;
  color: #705E40;
}


#recordingslist audio { 
  display: block; margin-bottom: 10px; 
}

#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}

#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
}

.jumbotron {
  background-color: rgba(0,0,0,0.1);
}

/*.list-group {
  background-color: #fff;
}*/

.draggable {
  background: url('/static/img/drag-drop.png') no-repeat 10px center rgba(255,255,255,0.7);
  clear: both;
  display: block;
  min-height: 61px;
  padding-left: 30px;
}

.draggable:hover {
  cursor: -webkit-grab;
}

.collection {
  background-color: #efefef !important;
  padding-left: 30px;
}