body {
  background-color: #E6E3DD;
  color: #565a5c;
}

.navbar-default {
  background-color: #C13561;
  /*background-image: -webkit-linear-gradient(-360deg, #813561 40%, #B83264 60%, #D83B5A 80%, #E44E38 100%);
  background-image: linear-gradient(90deg, #813561 40%, #B83264 60%, #D83B5A 80%, #E44E38 100%);*/
  color: #fff;
}

.navbar-default a, 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar {
  margin-bottom: 0;
}

nav.navbar-home.navbar-default {
  background-color: transparent;
  margin-bottom: 48px;
}

.alert {
  margin: 20px auto;
}

.jumbotron {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 300%;
  background-color: transparent;
  color: white;
  padding: 0 0 80px;
}

.jumbotron a.btn.btn-default.btn-lg {
  background-color: rgba(255,255,255,0.8);
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

#recordingslist audio { 
  display: block; margin-bottom: 10px; 
}

#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}

#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
}
.list-group-heading {
  background-color: #afa797;
  color: #fff;
}

.draggable {
  background: url('/static/img/drag-drop.png') no-repeat 10px center rgba(255,255,255,0.7);
  clear: both;
  display: block;
  min-height: 61px;
  padding-left: 30px;
}

.draggable:hover {
  cursor: -webkit-grab;
}

.collection {
  background-color: #efefef !important;
  padding-left: 30px;
}