{% extends 'base.html' %}
{% block content %}
    <h6>Collection</h6>
    <h2>{{ collection.title }}</h2>
    {% if uploads %}
    <div class="file-box">
        <ul class="list-group">
            <li class="list-group-item list-group-heading row">
                <div class="name col-sm-6">
                    <h6>Title</h6>
                </div>
                <div class="col-sm-3">
                    <h6>Transcript</h6>
                </div>
                <div class="col-sm-3">
                    <h6>Owner</h6>
                </div>
            </li>
            {% for upload in uploads %}
                <li class="list-group-item row">
                    <div class="col-sm-6">
                        <a href="/listen/{{ upload.id }}">{{ upload.title }}</a>
                    </div>
                    <div class="col-sm-3">
                        {{ upload.transcript }}
                    </div>
                    <div class="col-sm-3">
                        {{ upload.user.first_name }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}