{% extends 'base.html' %}
{% block content %}

    {% if request_number %}
    <h2>Request sent!</h2>
    <p>Request number: {{ request_number }}</a></p>


    {% elif generated_url %}
    <h2>Request URL Generated!</h2>
    <p>Share this URL to request recording:<br> <a href="/request/{{ generated_url }}">localhost:5000/request/{{ generated_url }}</a></p>

    {% else %}

    <h2>Generate Request URL</h2>
    <form action="/generate" method="POST">
        <div class="form-group">
        	<label for="title">Title:</label>
        	<input type="text" name="title" class="form-control" placeholder="Audio Title" required>
        </div>
    	<input type="submit" value="Generate a request URL!" class="btn btn-default">
    </form>

    <hr>

    <h2>Generate Request Call</h2>
    <form action="/generate" method="POST">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" placeholder="Audio Title" required>
        </div>

        <div class="form-group">
            <label for="tel">Phone Number:</label>
            <input type="tel" name="tel" class="form-control" placeholder="5555555555" min="10" max="10" required>
        </div>
        <input type="submit" name="twilio" value="Send a request via Text!" class="btn btn-default">
    </form>

    {% endif %}

{% endblock %}