<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Talkalog | Storytelling On-The-Go</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css"/>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	</head>
  	<body id="home">
		<div class="jumbotron">
			<nav class="navbar-home navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Talkalog</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
						{% if 'email' in session %}
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ session['email'] }} <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Profile</a></li>
								<li><a href="/record"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Record</a></li>
								<li><a href="/generate"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send Request</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li>
							</ul>
							</li>
						{% else %}
							<li><a href="/login">Login</a></li>
							<li><a href="/signup">Sign Up</a></li>
						{% endif %}
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			<div class="container text-center">
				<h1 class="heading">Talkalog</h1>
				<p>Destination memos and audio blogging on-the-go.</p>
			</div>
		</div>

		{% block content %}
		<div class="container-fluid content">
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
				<div class="alert alert-warning">{{ message }}</div>
				{% endfor %}
			{% endwith %}

			<div class="row featurette">
				<div class="col-md-5">
					<h2 class="featurette-heading">The easiest way to tell a story.</h2>
					<p class="lead">Talkalog is the easiest way to capture stories, destination memos, and audio recordings on-the-go. As simple as a phone call and easier than writing by hand.</p>
				</div>
				<div class="col-md-2 text-center">
					<img src="/static/img/tel.png" alt="Telephone Cloud Services">
				</div>
				<div class="col-md-5">
					<form action="/login-process" method="POST">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control" name="email" placeholder="name@domain.com">
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" class="form-control" name="password">
						</div>
						<input type="submit" value="Log In" class="button">
					</form>
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
				<div class="col-sm-6">
					<h4>Audio Heirlooms</h4>
					<p>My grandparents are first generation Filipino-Americans and my childhood was filled with stories like <em>"When I was a little girl..."</em> or <em>"When I arrived in the US, I had three dollars in my pocket..."</em>.</p>
					<p>Inspired by my desire to preserve my family's oral history before it's too late, Talkalog started as a way to be able to easily capture these stories, no matter how far apart we are or technologically challenged they may be.</p>
				</div>
				<div class="col-sm-6">
					<h4>On the Web, Over the Phone</h4>
					<p>With multiple ways to capture these audio recordings, each of these files become instant heirlooms: a way for future generations to understand where they came from, and the possibilities are endless.</p>
					<p>Send requests to capture oral histories from family, or use it to create audio blogs on the web or with a simple phone call. Transcript generation and rich text formatting allows these stories to be starting points for beautiful blog posts, recipe books, emails, scripts, novels, and more.</p>
				</div>
			</div><!-- row -->

			<hr class="featurette-divider">

			<div class="row">				
				<p class="lead text-center"><a href="http://github.com/rachelledunn/talkalog" target="_blank">Talkalog on Github</a> · <a href="http://twitter.com/rchdnn" target="_blank">@rchdnn on Twitter</a> · <a href="http://linkedin.com/in/rachelledunn" target="_blank">LinkedIn</a> · <a href="http://rachelledunn.com/" target="_blank">RachelleDunn.com</a></p>
			</div>
		</div><!-- /container -->
		{% endblock %}

		<div class="container-fluid">
			<footer class="footer">
				<p>Storytelling is the most powerful way to put ideas into the world today.</p>
			</footer>
		</div>
        <script src="/static/js/style.js"></script>
	</body>
</html>