{% extends 'base.html' %}

{% block imports %}
<script src="//cdn.ckeditor.com/4.4.7/basic/ckeditor.js"></script>
<link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print"/>
{% endblock %}

{% block content %}

    <h1 id="upload-title" upload-id="{{ upload.id }}" class="text-center">{{ upload.title }}</h1>

    <audio controls>
        <source src="{{ upload_folder }}/{{ upload.path }}" type="audio/wav">
    </audio>

    <hr>

    <h6 id="transcript">The Transcript</h6>

    <div class="transcript-body lead">
    {% if upload.transcript %}
        {{ upload.transcript|safe }}

        <button type="button" class="button edit-transcript" data-toggle="modal" data-target="#myModal">Edit Transcript</button>
    {% else %}
        <button id="load" class="button">Generate Transcript</button>
        <div id="transcript-content"> </div>
    {% endif %}
    </div>


    <hr>

    <p><small>Published on {{ upload.datetime }}<br>
    {% if upload.collectionsuploads %}
        Collection: 
        {% for uc in upload.collectionsuploads %}
            <a href="/collection/{{ uc.collection.id }}">{{ uc.collection.title }}</a>
        {% endfor %}
    {% endif %}
    </small></p>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Transcript</h4>
                </div>
                <div class="modal-body">
                    <form action="/save-transcript/{{ upload.id }}">
                        <textarea name="editor1" id="editor1" rows="10" cols="80" value="Transcript">
                            {% if upload.transcript %}
                                {{ upload.transcript }}
                            {% endif %}
                        </textarea>
                        <button class="button" type="submit">Update Transcript</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footerimports %}
<script>
$('#load').click(function () {
    $('#transcript-content').html('<span class="small"><img id="loader-img" alt="" src="/static/img/loading.gif" width="25" height="25" align="center" /> Please wait... the transcript may take up to two minutes to render.</span>');
    $(this).hide();

    var uploadId = $('#upload-title').attr('upload-id');
    var editTranscript = '<button type="button" class="button edit-transcript" data-toggle="modal" data-target="#myModal">Edit Transcript</button>';

    // Ajax Request
    $.ajax({
    type: "GET",
    dataType: "json",
    url: "/generate-transcript/" + uploadId,
    success: function(resp) {
        var myTranscript = resp.transcript;
        // This replace the retrieved data to the div after the setTimeOut function
        setTimeout(function () {
                // display transcript content
                $('#transcript-content').html(resp.transcript + editTranscript);

                // set editor value to transcript for editing
                CKEDITOR.instances['editor1'].setData(resp.transcript); 
            }, 3000);
        
        }
    });
});

</script>
<script>
$.fn.modal.Constructor.prototype.enforceFocus = function() {
  modal_this = this
  $(document).on('focusin.modal', function (e) {
    if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length 
    && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') 
    && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
      modal_this.$element.focus()
    }
  })
};
</script>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
    var data = CKEDITOR.instances.editor1.getData();
    CKEDITOR.instances['editor1'].setData(resp.transcript); 
</script>
{% endblock %}