{% extends 'base.html' %}
{% block content %}
    
    <h2 id="upload-title" upload-id="{{ upload.id }}">{{ upload.title }}</h2>
    <div class="file-box">
        <ul class="list-group">
            <li class="list-group-item list-group-heading row">
                <div class="name col-sm-6">
                    <h6>Play</h6>
                </div>
                <div class="type col-sm-3">
                    <h6>Transcript</h6>
                </div>
                <div class="share col-sm-3">
                    <h6>Collection</h6>
                </div>
            </li>
            <li class="list-group-item row">
                <div class="col-sm-6">
                    <audio controls>
                        <source src="{{ upload_folder }}/{{ upload.path }}" type="audio/wav">
                    </audio>
                </div>
                <div class="col-sm-3">
                    {% if upload.transcript %}
                        {{ upload.transcript }}
                    {% else %}
                        <button id="load">Generate Transcript</button></pre>
                        <div id="transcript-content"> </div>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if upload.collectionsuploads %}
                        {% for uc in upload.collectionsuploads %}
                            <a href="/collection/{{ uc.collection.id }}">{{ uc.collection.title }}</a>
                        {% endfor %}
                    {% else %}
                        <form action="/add/{{ upload.id }}" method="POST">
                            <label>Collection: 
                                <input type="text" name="collection">
                            </label>
                            <input type="submit" value="Save Collection">
                        </form>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>



<script>
var uploadId = $('#upload-title').attr('upload-id');
$('#load').click(function () {
    $('#transcript-content').html('<img id="loader-img" alt="" src="/static/img/loading.gif" width="25" height="25" align="center" />');
    $(this).hide();

    // Ajax Request
    $.ajax({
    type: "GET",
    dataType: "json",
    url: "/generate-transcript/" + uploadId,
    success: function(resp) {
        // This replace the retrieved data to the div after the setTimeOut function
        setTimeout(function () {
                $('#transcript-content').html(resp.transcript).addClass('border');
            }, 3000);
        }
    });
});

</script>
{% endblock %}