{% extends 'home.html' %}
{% block content %}
    <div class="container-fluid content">    
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endwith %}
        <div class="row featurette">
            <div class="col-sm-6">
                <h2 class="featurette-heading">Connecting People Through Stories</h2>
                <p class="lead">Talkalog is the easiest way to request, create, store, and manage audio recordings. Send a request to your grandmother to record her coveted family recipes, generate and edit the transcripts, and create a recipe book instantly.</p>
            </div>
            <div class="col-sm-6">
                <form action="/login-process" method="POST">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="name@domain.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <input type="submit" value="Log In" class="button">
                </form>
            </div>
        </div>
    </div>
{% endblock %}