{% extends 'base.html' %}
{% block content %}
    <style>
        #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
        #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
        .drag-drop {
        background: url(/static/img/drag-drop.png);
        vertical-align: middle;
        height: 41px;
        width: 16px;
        margin: 0 5px;
        }
        .drag-drop:hover {
        cursor: -webkit-grab;
        }
    </style>
    <script>
        $(function() {
            var draggable = $( ".draggable" );
            draggable =  _.isArray(draggable) ?
                draggable : [draggable];
            _.each(draggable, function(item){
                item.draggable();
            })
            
            var droppable = $( ".droppable");
            droppable = _.isArray(droppable) ?
                droppable : [droppable];

            _.each(droppable, function(item){
                item.droppable({
                    drop: function (event, ui){
                        var uploadId = ui.draggable.attr('upload-id');
                        console.log('Upload ID: ' + uploadId);

                        var collectionId = event.target.attributes['collection-id'].value;
                        console.log('Collection ID: ' + collectionId);

                        // TODO: add uploadId -> collectionId
                        // TODO: when done - refresh the page 
                        var v = 123;
                    }
                });
            })
        });
    </script>

    <h2>User {{ user.id }}</h2>
    <ul>
      <li>{{ user.email }}</li>
      <li><a href="/record">Record something!</a>
      <li><a href="/generate">Generate a request for a recording!</a>
    </ul>

    {% if user.uploads %}
    <h2>All My Files</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Transcript</th>
            <th>Collection</th>
        </tr>
        </thead>
        <tbody> 
        {% for upload in user.uploads %}
        <tr class="draggable" upload-id="{{ upload.id }}">
            <td><div class="drag-drop"/></td>
            <td><a href="/listen/{{ upload.id }}">{{ upload.title }}</a></td>
            <td>{{ upload.transcript }}</td>
            <td>
                {% if upload.collectionsuploads %}
                    {% for upcollect in upload.collectionsuploads %}
                        {{ upcollect.collection.title }}
                    {% endfor %}
                {% else %}
                    <form action="/add/{{ upload.id }}" method="POST">
                        <label>Collection: 
                            <input type="text" name="collection">
                        </label>
                        <input type="submit" value="Save Collection">
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if user.collections %}
    <h2>All My Collections</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Sharing</th>
        </tr>
        </thead>
        <tbody> 
        {% for collection in user.collections %}
        <tr class="droppable" collection-id='{{ collection.id }}'>
            <td><a href="/collection/{{ collection.id }}">{{ collection.title }}</a></td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#share-{{ collection.id }}">
                  Share
                </button>

                <!-- Modal -->
                <div class="modal fade" id="share-{{ collection.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Share {{ collection.title }}</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/share/{{ collection.id }}" method="POST">
                                    <label>Enter email for sharing: 
                                        <input type="text" name="email">
                                    </label>
                                    <input type="submit" value="Share Collection">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if user.collectionsusers %}
    <h2>Collections Shared With Me</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody> 
        {% for collection in user.collectionsusers %}
        <tr>
            <td><a href="/collection/{{ collection.collection.id }}">{{ collection.collection.title }}</a></td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}