{% extends 'base.html' %}
{% block content %}
    <script>
        $(function() {
            var draggable = $( ".draggable" );
            draggable =  _.isArray(draggable) ?
                draggable : [draggable];
            _.each(draggable, function(item){
                item.draggable({ 
                    helper: "original",
                    revert: "invalid",
                    stack: ".draggable",

                });
            })
            
            var droppable = $( ".droppable");
            droppable = _.isArray(droppable) ?
                droppable : [droppable];

            _.each(droppable, function(item){
                item.droppable({
                    drop: function (event, ui){
                        var uploadId = ui.draggable.attr('upload-id');
                        console.log('Upload ID: ' + uploadId);

                        var collectionId = event.target.attributes['collection-id'].value;
                        console.log('Collection ID: ' + collectionId);

                        $.ajax({
                            url: "/add-to-collection/"+uploadId +"",
                            type: "POST",
                            data: {
                                'upload_id': uploadId,
                                'collection_id': collectionId 
                            } 
                        }).done(function(data) {
                            window.location.href = "/success-collection";
                        });
                    }
                });
            })
        });
    </script>

    <h2>Welcome, {{ user.first_name }}</h2>
    <p>{{ user.first_name }} {{ user.last_name }} | User ID: {{ user.id }} | {{ user.email }}</p>

    <hr>

    <div class="file-box">
        <ul class="list-group">
            {% if user.collections %}
                {% for collection in user.collections %}
                    <li class="droppable list-group-item collection row" collection-id="{{ collection.id }}">
                        <div class="name col-sm-6"><a href="/collection/{{ collection.id }}">{{ collection.title }}</a></div>
                        <div class="type col-sm-3">Collection</div>
                        <div class="share col-sm-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#share-{{ collection.id }}">
                              Share
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="share-{{ collection.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Share {{ collection.title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/share/{{ collection.id }}" method="POST">
                                                <label>Enter email for sharing: 
                                                    <input type="text" name="email">
                                                </label>
                                                <input type="submit" value="Share Collection">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% for cu in collection.collectionsuploads %}
                        <li class="draggable upload list-group-item row" upload-id="{{ cu.upload.id }}">
                            <div class="name col-sm-6"><a href="/listen/{{ cu.upload.id }}">{{ cu.upload.title }}</a></div>
                            <div class="type col-sm-3">Audio File</div>
                            <div class="share col-sm-3">Share Social</div>
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    {% if singleuploads %}

    <h5>Unattached Uploads</h5>
    <div class="file-box">
        <ul class="list-group"> 
            {% for upload in singleuploads %}
                <li class="draggable upload list-group-item row" upload-id="{{ upload.id }}">
                    <div class="name col-sm-6"><a href="/listen/{{ upload.id }}">{{ upload.title }}</a></div>
                    <div class="type col-sm-3">Audio File</div>
                    <div class="share col-sm-3">Share Social</div>
                </li>          
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if user.collectionsusers %}
    <h5>Collections Shared With Me</h5>
    <div class="file-box">
        <ul class="list-group">
            {% for collection in user.collectionsusers %}
                <li class="list-group-item collection row">
                    <div class="name col-sm-6"><a href="/collection/{{ collection.collection.id }}">{{ collection.collection.title }}</a></div>
                    <div class="col-sm-6">Shared by: {{ collection.collection.user.first_name }} {{ collection.collection.user.last_name }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}