{% extends 'base.html' %}
{% block imports %}
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/recorderFunctions.js"></script>
{% endblock %}

{% block content %}

    <div class="row text-center">
        <h1>Record</h1>

        <div id="start_button"><img src="/static/img/record.png" alt="Record" width="100" height="100"></div>
        <div id="stop_button" style="display: none;"><img src="/static/img/stop.png" alt="Stop" width="100" height="100"></div>

        <div id="record-status" style="display: none;">
            <small>Recording...</small><br>
            <img src="/static/img/recording.gif" alt="Recording in Progress">
        </div>

        <div id="recordingslist"></div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <h6>Transcript <small>This can be edited later</small></h6>
            <div id="results">
                <span id="final_span" class="final"></span>
                <span id="interim_span" class="interim"></span>
            </div>

            <div class="hidden">
                <div id="div_language">
                    <select id="select_language" onchange="updateCountry()"></select>
                    &nbsp;&nbsp;
                    <select id="select_dialect"></select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="upload-info">
                <h6>Title</h6>
                <div class="form-group">
                    <input type="text" name="title" class="form-control" id="recording-title" placeholder="">
                </div>
                <input type="submit" value="Submit Audio" id="submit-audio" class="button">
            </div>
        </div>
    </div>

    <div class="hidden">
        <h2>Log</h2>
        <pre id="log"></pre>

        <div id="info"></div>
    </div>
{% endblock %}

{% block footerimports %}
    <script src="/static/js/webSpeech.js"></script>
{% endblock %}