{% extends 'base.html' %}
{% block imports %}
<script src="/static/js/recorder.js"></script>
<script src="/static/js/recorderFunctions.js"></script>
{% endblock %}
{% block content %}
<h1>Record</h1>
<button id="start_button">record</button>
<button id="stop_button">stop</button>

<div id="info">
</div>
<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>
<div class="center">
  <div id="div_language">
    <select id="select_language" onchange="updateCountry()"></select>
    &nbsp;&nbsp;
    <select id="select_dialect"></select>
  </div>
</div>

<h2>Recordings</h2>
<ul id="recordingslist"></ul>

<h2>Log</h2>
<pre id="log"></pre>

<div class="upload-info">
  <label>Title: 
    <input type="text" name="title" id="recording-title">
  </label>
  <input type="submit" value="submit audio" id="submit-audio">
</div>

<script src="/static/js/webSpeech.js"></script>

<script>

$('#start_button').click(function() {
  startRecording(this);
  startButton(event);
});

$('#stop_button').click(function() {
  stopRecording(this); 
  startButton(event);
});

</script>
{% endblock %}