{% extends 'base.html' %}
{% block imports %}
<script src="/static/js/recorder.js"></script>
<script src="/static/js/requestFunctions.js"></script>
{% endblock %}

{% block content %}
<h2>Request #: <span id="request-id">{{ requested_obj.id }}</span></h2>
<ul>
  <li>User that made request: {{ requested_obj.user_id }}</li>
  <li>Upload ID associated: {{ requested_obj.upload_id }}</li>
</ul>

<h1>Record</h1>
<button onclick="startRecording(this); startButton(event);" id="start_button">record</button>
<button onclick="stopRecording(this); startButton(event);" disabled>stop</button>

<div id="info">
</div>

<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>

<div class="center">
  <div id="div_language">
    <select id="select_language" onchange="updateCountry()"></select>
    &nbsp;&nbsp;
    <select id="select_dialect"></select>
  </div>
</div>

<h2>Recordings</h2>
<ul id="recordingslist"></ul>

<h2>Log</h2>
<pre id="log"></pre>

<div class="upload-info">
  <label>Title: 
    <input type="text" name="recording-title" id="recording-title">
  </label><br>
  <label>Description: 
    <textarea name="recording-desc" id="recording-desc"></textarea>
  </label>
  <input type="submit" value="submit audio" id="submit-audio">
</div>

<script src="/static/js/webSpeech.js"></script>

{% endblock %}