{% extends 'base.html' %}
{% block content %}

    <h2>User {{ user.id }}</h2>
    <ul>
      <li>{{ user.email }}</li>
      <li><a href="/record-loggedin">Record something!</a>
      <li><a href="/generate">Generate a request for a recording!</a>
    </ul>

    {% if user.uploads %}
    <h2>All My Files</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Play!</th>
            <th>Title</th>
            <th>Description</th>
            <th>Filename</th>
        </tr>
        </thead>
        <tbody> 
        {% for upload in user.uploads %}
        <tr>
            <td>
                <audio controls>
                    <source src="/uploads/{{ upload.path }}" type="audio/wav">
                </audio>
            </td>
            <td>{{ upload.title }}</td>
            <td>{{ upload.description }}</td>
            <td>{{ upload.path }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}